.App {
  margin: 1rem 3rem 2rem 3rem;
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.audio-image-panel{
  display: flex;
  align-items: center;
}

.audio-image {
  max-width: 100%;
  border-radius: 4px;
}

.player-panel {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  background-color: #404040;
  border-radius: 4px;
  padding: 0 1rem 0 1rem;  
  font-family: Tahoma;
  color: aliceblue;
}

.player-panel .artist {
  background-color: rgba(41, 39, 39, 0.9);
  padding: 0.3rem;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.player-panel .audio-name {
  background-color: rgba(41, 39, 39, 0.9);
  font-size: 1.7rem;
  padding: 0.4rem;
  margin-top: 0rem;
}

.player-panel .fa {
  margin: 1rem;
  font-size: 6rem;
  cursor: pointer;
  color: #FF8000;
}

.player-panel .initial {
  font-size: 10px;
  padding: 5px;
  border-radius: 50%;
}

.player-panel .canvas-panel {
  position: relative;
}

.player-panel .canvas-panel .remove {
  display: none;
}

.player-panel .timeline {
 background-color: rgba(255, 251, 251, 80%);
 position: relative;
 bottom: 10rem;
 z-index: 0;
}

.player-panel .waveform {
  z-index: 0;
}

.player-panel .canvas {
	z-index: 3;
  position: absolute;
  top: 13rem;
  left: 0;
}

.player-panel .timeline-avatar {
  display: inline-block;
}

.player-panel .timeline-comment {
  z-index: 4;
  position: absolute;
  top: 6rem;
  left: 0;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
}

.player-panel .hidden {
  visibility: hidden;
}

.add-comment-panel .username {
  width: 10rem;
  margin-right: 1rem;
  margin-top: 0.7rem;
}

.add-comment-panel .comment {
  width: 20rem;
}

.post {
  margin-left: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-color: grey;
  border-radius: 3px;
}

.audio-info {
  display: flex;
}

.audio-info .info {
  margin-right: 1rem;
}

.comments-list {
  list-style: none;
  overflow-y: auto;
}

.comments-list .info {
  display: flex;  
  color: rgb(112, 112, 112);
}

.comments-list .avatar {
  margin-right: 1rem;
  border-radius: 50%;
}

.comments-list .username {
  margin-right: 1rem;
}

.comments-list .at {
  color:rgb(151, 149, 149);
}

.comments-list .minute {
  margin-left: 1rem;
}